<!DOCTYPE html>
<html>
    {{>header}}
    <body>
           {{>nav}}
        <div class="container mt-4">
            <div class="jumbotron">
                <h1 class="display-4">Welcome!!!</h1>
                <p class="lead">This is my first calculate using Node JS.</p>
                <hr class="my-4">
                <p>Click this button, if you want testing my calculate</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/calculate" role="button">Test calculate</a>
                </p>
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/note" role="button">note</a>
                </p>
            </div>
        </div>
        
    </body>
</html> 