<!DOCTYPE html>
<html>
    {{>header}}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
      <link rel="stylesheet" href="/css/ind.css">
    
<body>
{{>nav}}
<div id="page-container">
   <div id="content-wrap">
    <div class="logo">
      <h1 class="display-4">Welcome!!!</h1>
      <p class="lead">This is my first apps using Node JS.</p>
      <hr class="my-4">
    </div>
      <div class="root">
          <div class="container">
                {{#projects}}
              <div class="card">
                <a href="/{{link}}">
                <h1>{{name}}</h1>
                <p>{{content}} </p>
                </a>
              </div>
            {{/projects}}   
          </div>
      </div>
    </div>
    <footer id="footer"> {{>footer}} </footer>
  <div>
 </body> 
</html> 