<!DOCTYPE html>
<html>
    {{>header}}
      
      <link rel="stylesheet" href="/css/ind.css">
      <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
<body>
{{>nav}}
<div class="container">
  <div class="jumbotron">
     <h1 class="display-4">Welcome!!!</h1>
    <p class="lead">This is my first apps using Node JS.</p>
    <hr class="my-4">

      <div class="card-group">
            {{#projects}}
          <div class="card">
            <a href="/{{link}}">
            <h1>{{name}}</h1>
            <p>{{content}} </p>
            </a>
          </div>
        {{/projects}}   
      </div>
   </div>
 </body> 
</html> 